<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First">
<listeners>
<listener class-name="FB.FaceBook.Listeners"/>
<listener class-name="Resources.Transforannotation"/>
</listeners>
<test name="just check">
     <classes>
      <class name="FB.FaceBook.LoginPagePassCredentials"/>
      </classes>
    </test>
   <!-- Test -->
</suite>


